<button command="show-modal" commandfor="tilesSettingsDialog" type="button" class="btn-settings">
  <img src="/assets/icons/icon-bb-iconset-settings.svg" alt="Settings" />
</button>

<dialog #tilesSettingsDialog id="tilesSettingsDialog" (toggle)="onToggle($event)">
  <form [formGroup]="form" (ngSubmit)="onSave()">
    <aside class="left">
      <header>
        <div class="dialog-name">
          <icon-admin-quares />
          <span>TILES</span>
        </div>
        <nav>
          <ul>
            <li class="active">General</li>
          </ul>
        </nav>
      </header>
      <div class="content">
        <div class="grid-schema-control">
          <label>Display</label>

          <app-select
            [options]="schemaOptions"
            [value]="form.controls.gridSchema.value"
            (valueChange)="form.controls.gridSchema.setValue($event); markFormDirty()"
          />
        </div>

        <div class="divider"></div>

        <div class="form-group">
          <div class="form-group-name">Text</div>
          <div class="form-control-input">
            <label for="title">Title</label>
            <input type="text" formControlName="title" />
          </div>

          <div class="form-control-input">
            <label for="subtitle">Subtitle</label>
            <input type="text" formControlName="subtitle" />
          </div>
        </div>

        <div class="divider"></div>

        <div class="form-group">
          <div class="form-group-name">Other</div>
        </div>

        <div class="load-all-control">
          <div class="form-control-toggle">
            <label>Load all</label>
            <app-toggle
              [checked]="loadAll()"
              (checkedChange)="loadAll.set($event); markFormDirty()"
            />
          </div>
          @if (!loadAll()) {
            <div class="form-control-input">
              <label>Tiles visible</label>

              <input type="number" min="1" formControlName="visibleTilesCount" />
            </div>
          }
        </div>
      </div>
      <div class="bottom">
        <button class="primary" type="submit" [disabled]="!form.valid || form.pristine">
          Update
        </button>
      </div>
    </aside>

    <div class="right">
      <div class="close">
        <button type="button" commandfor="tilesSettingsDialog" command="close" class="cross">
          <img src="/assets/icons/icon-admin-iconset-cross-small.svg" alt="Settings" />
        </button>
      </div>

      <div class="content">
        <header>
          <div class="actions">
            <span class="heading">Tiles</span>
            <button type="button" (click)="addTile()" class="primary">
              <img src="/assets/icons/icon-admin-iconset-plus-white.svg" alt="Plus" />
              Add
            </button>
          </div>
        </header>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>
                  <img src="assets/icons/icon-bb-iconset-arrange-down.svg" alt="arrange" />
                </th>
                <th class="center">BG</th>
                <th>Text</th>
                <th>Link</th>
                <th class="right">
                  <img src="assets/icons/icon-admin-iconset-triangle-down-small.svg" alt="more" />
                </th>
              </tr>
            </thead>
            <tbody formArrayName="tiles">
              @for (tile of tiles.controls; track tile; let idx = $index) {
                <tr [formGroupName]="idx">
                  <td>
                    <img src="assets/icons/icon-bb-iconset-move-simple.svg" alt="move" />
                  </td>
                  <td class="center" style="padding-right: 16px">
                    <label class="color-picker-wrapper">
                      <input type="color" formControlName="bgColor" />
                      <img
                        src="assets/icons/icon-admin-iconset-triangle-down-small.svg"
                        alt="more"
                      />
                    </label>
                  </td>
                  <td>
                    <input type="text" formControlName="text" />
                  </td>
                  <td>
                    <input type="text" formControlName="link" />
                  </td>

                  <td>
                    <div class="actions-wrapper">
                      <button (click)="removeTile(idx)" type="button" class="icon-button">
                        <img src="assets/icons/icon-bb-iconset-remove.svg" alt="remove" />
                      </button>

                      <app-tile-dropdown />
                    </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</dialog>
