dialog {
  border: none;
  text-align: left;
  outline: none;
  padding: 0;
  max-width: 1100px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  border-radius: 8px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.25);

  &[open] {
    transition: scale 0.2s ease-out;
    scale: 1;
    @starting-style {
      scale: 0.95;
    }
  }
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(320px, auto) 1fr;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

input {
  height: 30px;
  padding: 5px 8px 4px;

  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  color: #242b39;

  border-radius: 3px;
  border: solid 1px #e2e7ee;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield; /* Firefox */
  }

  &[type='number'],
  &[type='text'] {
    width: 220px;
  }

  &[type='color'] {
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    width: 18px;
    height: 18px;
    outline: none;
  }
}

button {
  border: none;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;

  &:disabled {
    opacity: 0.75;
  }
  &.primary {
    color: white;
    background-color: var(--admin-blue);
  }
}

.left {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  border-right: 1px solid #e2e7ee;

  header {
    border-bottom: 2px solid #f1f4f8;
    padding: 16px 20px 0px;

    .dialog-name {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 19px;

      & > span {
        /* Dialog name text */
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #2f3748;
      }
    }
    nav {
      transform: translateY(2px); /* shifted down so it overlaps the border under */
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: start;
        gap: 12px;

        li {
          font-size: 15px;
          font-weight: 500;
          line-height: 1.47;
          letter-spacing: normal;
          color: #242b39;

          padding: 18px 0 12px;

          &.active {
            border-bottom: 2px solid var(--admin-blue);
          }
        }
      }
    }
  }

  .content {
    .divider {
      height: 1px;
      margin: 0 20px 0 20px;
      background-color: #f1f4f8;
    }

    .form-group {
      padding: 14px 21px;
      .form-group-name {
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.6px;
        color: #9fa7bb;
        text-transform: uppercase;
        margin-bottom: 6px;
      }
    }

    .form-control-input {
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      label {
        font-size: 13px;
        line-height: 1.62;
        color: #516173;
      }
      input {
        max-width: 170px;
      }
    }

    .grid-schema-control {
      padding: 16px 21px;
      label {
        display: block;
        font-size: 13px;
        line-height: 1.62;
        color: #516173;
        margin: 0 1px 5px 0;
      }
      select {
        max-width: 170px;
        height: 30px;
        margin: 5px 0 0;
        padding: 5px 6px 4px 8px;
        border-radius: 3px;
        border: solid 1px #e2e7ee;
        background-color: #fff;
      }
    }

    .load-all-control {
      margin: 0 10px;
      border-radius: 3px;
      box-shadow: 0 4px 8px 0 rgba(49, 57, 67, 0.05);
      border: solid 1px #e2e7ee;
      background-color: #fff;
      overflow: hidden;
      .form-control-toggle {
        display: flex;
        justify-content: space-between;
        background-color: #f9fafb;
        padding: 9.5px 10.5px;
        label {
          font-size: 13px;
          line-height: 1.62;
          color: #242b39;
        }
      }
      .form-control-input {
        padding: 7px 11px 5px 10px;
        margin: 0;
        input {
          max-width: 50px;
        }
      }
    }
  }

  .bottom {
    padding: 10px 20px;
    margin-top: 22px;

    border-top: 1px solid #f1f4f8;
    button {
      width: 100%;
      height: 100%;
      padding: 12px;
    }
  }
}

.right {
  width: 100%;
  min-width: 0;
  background-color: #f9fafb;
  .close {
    padding: 14px 11px 6px 22px;
    display: flex;
    justify-content: end;
    button.cross {
      all: unset;
      cursor: pointer;
      text-align: right;
    }
  }
  .content {
    padding: 0 21px;
    header {
      .actions {
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        .heading {
          font-size: 13px;
          line-height: 1.62;
          color: #516173;
        }
        button {
          // all: unset;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;

          font-size: 13px;
          font-weight: 500;

          padding: 4px 19px 4px 6px;

          border-radius: 4px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          cursor: pointer;
        }
      }
    }
  }
}
.table-wrapper {
  width: 100%;
  max-height: 60vh;
  overflow: auto;
}
table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #e2e7ee;
  background-color: #fff;

  thead {
    tr {
      background-color: #f1f4f8;
      border-radius: 4px 4px 0 0;
      height: 30px;
      padding: 7px 8px 7px 11px;
      font-size: 10px;
      font-weight: 500;
      text-transform: uppercase;

      td,
      th {
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.6px;
        color: #516173;
        padding-top: 9px;
        padding-bottom: 9px;
      }
    }
  }

  tbody {
    td,
    th {
      padding-top: 7px;
      padding-bottom: 6px;
      &:last-child {
        .actions-wrapper {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 12px;

          .icon-button {
            background: transparent;
            border: none;
            padding: 4px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;

            &.active {
              background-color: #f1f4f8;
            }
            &:hover {
              background-color: #f1f4f8;
            }
          }
        }
      }
    }
  }

  th,
  td {
    text-align: left;
    vertical-align: middle;
    &.center {
      text-align: center;
    }
    &.right {
      text-align: right;
    }
    &:first-child,
    &:last-child {
      padding-left: 14px;
      padding-right: 14px;
    }
  }
  input {
    margin: 3px 19px 3px 0;
    vertical-align: middle;

    &[type='color'] {
      margin: 3px;
    }
  }

  .color-picker-wrapper {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 2px;
  }

  img {
    vertical-align: middle;
  }
}
