<section>
  @if (config$ | async; as c) {
    <h5 class="grid-title">{{ c.title }}</h5>
    <h2 class="grid-subtitle">{{ c.subtitle }}</h2>
    @if (c.tiles.length > 0) {
      <ul class="tiles-layout" [style]="`--columns: ${c.gridSchema.columns}`">
        @for (tile of limitTiles(c.tiles, c.visibleTileCount); track $index; let idx = $index) {
          <app-tile
            [text]="tile.text"
            [link]="tile.link"
            [bgColor]="tile.bgColor"
            [bgImage]="tile.bgImage"
            [span]="c.gridSchema.spans[idx % c.gridSchema.spans.length]"
          />
        }
      </ul>
    } @else {
      <p>No tiles defined</p>
    }
  } @else {
    <p>Loading...</p>
  }

  @if (isDebugMode) {
    <app-tiles-settings />
  }
</section>
