main {
  max-width: 1920px;
  margin: 3rem auto;
}

.title {
  margin-bottom: 0;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: center;
  color: #9fa7bb;
}
.subtitle {
  margin: 0 auto 61px;
  font-family: Poppins;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #232323;
}

.tile-grid {
  width: 100%;
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  // grid-template-columns: 1fr 1fr; /* just a backup value */
  // grid-template-rows: repeat(auto-fill, minmax(270px, 1fr)); /* just a backup value */

  a {
    color: white;
    text-decoration: none;
    grid-column: span var(--spans);

    .tile {
      color: white;
      display: grid;
      place-items: center;
      height: 100%;
      padding: 1rem;
    }
  }
}
